.page-top {
    margin-bottom: 25px;
}

    .page-top h1 {
        font-size: 38px;
        font-weight: 700;
        color: #0f172a;
        margin-bottom: 5px;
    }

    .page-top p {
        color: #64748b;
    }

.assignments-container {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.assignments-table {
    width: 100%;
    border-collapse: collapse;
}

    .assignments-table thead {
        background: #2563eb;
        color: white;
    }

    .assignments-table th {
        padding: 20px;
        text-align: left;
        font-size: 15px;
        font-weight: 600;
    }

    .assignments-table td {
        padding: 20px;
        border-bottom: 1px solid #e2e8f0;
    }

    .assignments-table tbody tr:hover {
        background: #f8fafc;
    }

.assignment-link {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

    .assignment-link:hover {
        text-decoration: underline;
    }

.deadline-badge {
    background: #fef3c7;
    color: #92400e;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.download-btn {
    background: #10b981;
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

    .download-btn:hover {
        background: #059669;
    }

.no-file {
    color: #94a3b8;
}


.status-submitted {
    background: #dcfce7;
    color: #166534;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.status-pending {
    background: #fee2e2;
    color: #991b1b;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.assignments-table tbody tr {
    cursor: pointer;
    transition: 0.3s;
}

    .assignments-table tbody tr:hover {
        background: #f8fafc;
    }